.container{
    display: flex;
  flex-wrap: wrap;
}



.card{
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-top: 50px;

}

.img{
    background: rgb(15, 15, 15);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 5px ;
    margin: 50px;
    margin-top: 50px;
    margin-left: 70px;
}


